.profile-container{

    align-items:center;
    text-align: center;
    justify-content: center;
    background-image: url('../../assets/Home/p_bg.jpg');;
    color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
}
.profile-parent{
    display: flex;
justify-content: center;
text-align: center;
}
.profile-details{

flex-direction: column;
}
.primary-text{
font-family:"Arial, Helvetica, sans-serif";

}
.profile-details-name{
color: wheat;
font-weight: bold;
font-style: italic;
}
.highlighted-text{
color: rosybrown;
 font-style: normal;
}
.profile-details-role{
font-family: cursive;
}
.profile-role-tagline{
color:salmon;
}

.primary-options{
display: flex;
}
.primary-btn{
    color: white;
    background-color: rgb(255, 225, 127);
    padding:10px 10px 10px ;
    margin-left: 1rem;
    justify-content: space-between;
}
.highlighted-btn{

    margin-left: 1rem;
}
.primary-btn :hover{

    background-color: black;
    color: white;
}
.profile-picture{
margin-left: 30%;

width: 20%;
border-radius: 90%;
height: 270px;
box-shadow: white 10px 10px 10px;

}
.profile-picture-background{
width: 100%;
height: 100%;
background-image: url(../../assets/Home/me.JPG);

background-repeat: no-repeat;
background-size: cover;
border-radius: 90%;
}